In [1]:
#imports
import pandas as pd
import numpy as np
from scipy import stats
import stats

### Python regular expressions

In [2]:
import re

#sequence of special characters or so called meta characters defining a pattern to search in a text.

In [3]:
# Define a pattern to search for valid temperatures in text
pattern = re.compile(r'[+-]?\d+\.?\d* [CF]')

In [4]:
text = "Let's consider the following temperatures using the Celsius scale: +23 C, 0 C, -20.0 C, -2.2 C, -5.65 C, 0.0001 C. To convert them to the Fahrenheit scale you have to multiply the number by 9/5 and add 32 to the result. Therefore, the corresponding temperatures in the Fahrenheit scale will be: +73.4 F, 32 F, -4.0 F, +28.04 F, 21.83 F, +32.00018 F."

In [5]:
# Print the temperatures out
print(re.findall(pattern, text))

['+23 C', '0 C', '-20.0 C', '-2.2 C', '-5.65 C', '0.0001 C', '+73.4 F', '32 F', '-4.0 F', '+28.04 F', '21.83 F', '+32.00018 F']

## Iterables

some iterable are </br>
list, tuple, set, dictionary, and string

In [6]:
#Iterating over a set
set1 = {1,2,3,4}

for member in set1:
    print(member)

1
2
3
4

In [13]:
dic1 = {'episode1':'didnt watch', 'episode2': 'wasnt good'}

In [14]:
for item in dic1.items():
    print(item)

('episode1', 'didnt watch')
('episode2', 'wasnt good')

In [15]:
for episode,quality in dic1.items():
    a,b = episode,quality
    print(a,b)

episode1 didnt watch
episode2 wasnt good

enumerator adds an index to each item in the iterable that we are iterating over.

In [7]:
Villains  = ['Darth Maul', 'Palpatine', 'Darth Vader']

In [19]:
for idx, name in enumerate(Villains):
    print(str(idx)+" - "+name)

0 - Darth Maul
1 - Palpatine
2 - Darth Vader

In [20]:
#df.set_index('month')

In [9]:
text = 'enumerate an Iterable'

In [10]:
for item in text:
    print(item)

e
n
u
m
e
r
a
t
e

a
n

I
t
e
r
a
b
l
e

In [35]:
def retrieve_character_indices(string):
    """Given a string, this function creates a dictionary where each key represents a unique character from the string and the corresponding value is a list containing the index"""
    character_indices = {}
    # Define the 'for' loop
    for index, character in enumerate(string):
        # Update the dictionary if the key already exists
        if character in character_indices:
            character_indices[character].append(index)
        # Update the dictionary if the key is absent
        else:
            character_indices[character] = [index]
            
    return character_indices

In [36]:
retrieve_character_indices(text)

{'e': [0, 4, 8, 15, 20],
 'n': [1, 11],
 'u': [2],
 'm': [3],
 'r': [5, 16],
 'a': [6, 10, 17],
 't': [7, 14],
 ' ': [9, 12],
 'I': [13],
 'b': [18],
 'l': [19]}

In [40]:
pets = {'Harry': 'Hedwig the owl',
 'Hermione': 'Crookshanks the cat',
 'Ron': 'Scabbers the rat'}

In [48]:
pets_iterator = iter(pets)

In [51]:
print(next(iter(pets_iterator)))

Harry

In [52]:
print(next(iter(pets_iterator)))

Hermione

In [54]:
list(pets_iterator)

['Ron']

In [55]:
print(next(iter(pets_iterator)))

StopIteration:

df.iteritems() column names </br>
df.iterrows() index and rows

iterating over set of a list, iterates over unique values of that list.

## List Comprehension

In [11]:
spam = 'Dear User,\n\nOur Administration Team needs to inform you that you are reaching the storage limit of your Mailbox account.\nYou have to verify your account within the next 24 hours.\nOtherwise, it will not be possible to use the service.\nPlease, click on the link below to verify your account and continue using our service.\n\nYour Administration Team.'

In [12]:
spam

'Dear User,\n\nOur Administration Team needs to inform you that you are reaching the storage limit of your Mailbox account.\nYou have to verify your account within the next 24 hours.\nOtherwise, it will not be possible to use the service.\nPlease, click on the link below to verify your account and continue using our service.\n\nYour Administration Team.'

In [13]:
# Convert the text to lower case and create a word list
words = spam.lower().split()

In [14]:
def create_word_list(string):
    '''This function separates string into its elements'''
    new_string = string.split()
    return new_string

In [15]:
print(create_word_list.__doc__)

This function separates string into its elements

In [16]:
words = create_word_list(spam.lower())

In [17]:
# Create a set storing only unique words
word_set = set(words)

In [18]:
# Create a dictionary that counts each word in the list, we count it in all the list not just one word!!!!
tuples = [(word,words.count(word)) for word in word_set]

In [19]:
word_counter = dict(tuples)

In [20]:
word_counter

{'using': 1,
 'next': 1,
 'the': 4,
 'otherwise,': 1,
 'to': 4,
 'reaching': 1,
 'it': 1,
 'team.': 1,
 'continue': 1,
 'below': 1,
 'account': 2,
 'will': 1,
 'account.': 1,
 'of': 1,
 'mailbox': 1,
 'on': 1,
 'within': 1,
 'verify': 2,
 'hours.': 1,
 'dear': 1,
 'please,': 1,
 'you': 3,
 'storage': 1,
 'not': 1,
 'and': 1,
 'your': 4,
 'team': 1,
 'possible': 1,
 'needs': 1,
 'link': 1,
 'are': 1,
 'administration': 2,
 'use': 1,
 'be': 1,
 '24': 1,
 'service.': 2,
 'that': 1,
 'limit': 1,
 'click': 1,
 'user,': 1,
 'inform': 1,
 'our': 2,
 'have': 1}

In [40]:
# Printing words that appear more than once
for key, value in word_counter.items():
    if value > 1:
        print(str(key) +": " +str(value))
#        print("{}: {}".format(key, value))

you: 3
to: 4
account: 2
our: 2
the: 4
your: 4
administration: 2
service.: 2
verify: 2

In [8]:
def gcd(a, b):
    '''This function takes two numbers a, b and prints the greatest coprime'''
    while b != 0:
        temp_a = a
        a = b
        b = temp_a % b   
    # Complete the return statement
    return a

In [9]:
list1 = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]
list2 = [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [12]:
coprimes = [(i,j) for i in list1 for j in list2 if gcd(i,j)==1]

In [18]:
coprimes[0]

(5, 7)

## Zip Object</br>
it combines multiple iterable objects into one iterable object

In [25]:
wlist = [['Python', 'creativity', 'universe'], ['interview', 'study', 'job', 'university', 'lecture'], ['task', 'objective', 'aim', 'subject', 'programming', 'test', 'research']]

In [26]:
my_list = wlist[1]

In [27]:
my_list

['interview', 'study', 'job', 'university', 'lecture']

In [28]:
# Define a function searching for the longest word
def get_longest_word(words):
    longest_word = ''
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

In [29]:
get_longest_word(my_list)

'university'

In [35]:
# Create a list of the lengths of each list in wlist
lengths = [len(item) for item in wlist]

In [36]:
# Create a list of the longest words in each list in wlist
words = [get_longest_word(item) for item in wlist]

In [37]:
words

['creativity', 'university', 'programming']

In [40]:
# Combine the resulting data into one iterable object
for item in zip(wlist,lengths,words):
    print(item)

(['Python', 'creativity', 'universe'], 3, 'creativity')
(['interview', 'study', 'job', 'university', 'lecture'], 5, 'university')
(['task', 'objective', 'aim', 'subject', 'programming', 'test', 'research'], 7, 'programming')

### creating the exact same thing. This time with tuple and unzip

In [30]:
tuple_list = [(len(item),get_longest_word(item)) for item in wlist]

In [31]:
tuple_list

[(3, 'creativity'), (5, 'university'), (7, 'programming')]

In [32]:
lengths, words = zip(*tuple_list)

In [34]:
zip(wlist,lengths, words)

In [35]:
for item in zip(wlist,lengths, words):
    print(item)

(['Python', 'creativity', 'universe'], 3, 'creativity')
(['interview', 'study', 'job', 'university', 'lecture'], 5, 'university')
(['task', 'objective', 'aim', 'subject', 'programming', 'test', 'research'], 7, 'programming')

In [46]:
word_lengths = [(words, len(words)) for word in wlist for words in word]

In [47]:
word_lengths

[('Python', 6),
 ('creativity', 10),
 ('universe', 8),
 ('interview', 9),
 ('study', 5),
 ('job', 3),
 ('university', 10),
 ('lecture', 7),
 ('task', 4),
 ('objective', 9),
 ('aim', 3),
 ('subject', 7),
 ('programming', 11),
 ('test', 4),
 ('research', 8)]

## The outer for is the inner for loop

In [57]:
# Unwrap the word_lengths
words, lengths = zip(*word_lengths)

In [58]:
# Create a zip object
col_names = ['word', 'length']
result = zip(col_names, [words, lengths])

In [59]:
# Convert the result to a dictionary and build a DataFrame
data_frame = pd.DataFrame(dict(result))
data_frame.head()

         word  length
0      Python       6
1  creativity      10
2    universe       8
3   interview       9
4       study       5

### Generators

Is a special iterable object created by a function having a yield keyword in its body.

In [2]:
def func():
    yield 0
    yield 1
    yield 2

In [4]:
result = func()

In [5]:
for item in result:
    print(item)

0
1
2

In [11]:
def func2(n):
    for i in range(0,n):
        yield 2*i

In [15]:
result = func2(5)

In [16]:
list(result)

[0, 2, 4, 6, 8]

### Generator comprehension - Traversal

In [17]:
result = (2*i for i in range(0,3))

In [18]:
result

In [24]:
def shift_string(string, shift):
    len_string = len(string)
    # Loop over the indices of a string
    for idx in range(0, len_string):
        # Find which character will correspond to the index.
        yield string[(idx - shift) % len_string]

In [25]:
# Create a generator
gen = shift_string('DataCamp', 3)

In [26]:
# Create a new string using the generator and print it out
string_shifted = ''.join(gen)
print(string_shifted)

ampDataC

In [ ]:
def simulate_dice_throws():
    out = {}
    yield

In [22]:
total, out = 0, dict([(i, [0, 0]) for i in range(1, 7)])

In [23]:
print(out)

{1: [0, 0], 2: [0, 0], 3: [0, 0], 4: [0, 0], 5: [0, 0], 6: [0, 0]}

In [32]:
import random

In [36]:
def simulate_dice_throws():
    total, out = 0, dict([(i, [0, 0]) for i in range(1, 7)])
    while True:
        # Simulate a single toss to get a new number
        num = random.randint(1, 6)
        total += 1
        # Update the number and the ratio of realizations
        out[num][0] = out[num][0] + 1
        for j in range(1, 7):
            out[j][1] = round(out[j][0]/total, 2)
        # Yield the updated dictionary
        yield out

In [37]:
# Create the generator and simulate 1000 tosses
dice_simulator = simulate_dice_throws()
for i in range(1, 10):
    print(str(i) + ': ' + str(next(dice_simulator)))

1: {1: [0, 0.0], 2: [1, 1.0], 3: [0, 0.0], 4: [0, 0.0], 5: [0, 0.0], 6: [0, 0.0]}
2: {1: [0, 0.0], 2: [2, 1.0], 3: [0, 0.0], 4: [0, 0.0], 5: [0, 0.0], 6: [0, 0.0]}
3: {1: [0, 0.0], 2: [2, 0.67], 3: [1, 0.33], 4: [0, 0.0], 5: [0, 0.0], 6: [0, 0.0]}
4: {1: [0, 0.0], 2: [2, 0.5], 3: [1, 0.25], 4: [0, 0.0], 5: [0, 0.0], 6: [1, 0.25]}
5: {1: [0, 0.0], 2: [2, 0.4], 3: [2, 0.4], 4: [0, 0.0], 5: [0, 0.0], 6: [1, 0.2]}
6: {1: [0, 0.0], 2: [2, 0.33], 3: [3, 0.5], 4: [0, 0.0], 5: [0, 0.0], 6: [1, 0.17]}
7: {1: [0, 0.0], 2: [2, 0.29], 3: [3, 0.43], 4: [0, 0.0], 5: [0, 0.0], 6: [2, 0.29]}
8: {1: [1, 0.12], 2: [2, 0.25], 3: [3, 0.38], 4: [0, 0.0], 5: [0, 0.0], 6: [2, 0.25]}
9: {1: [1, 0.11], 2: [2, 0.22], 3: [3, 0.33], 4: [0, 0.0], 5: [0, 0.0], 6: [3, 0.33]}

### Pass a variable number of arguments to a function  *args

### Positional arguments

In [30]:
def multiply(*args):
    result = 1
    for arg in args:
        result = result * arg
    return result

In [31]:
multiply(8,5,10)

400

In [34]:
a = ({2,3,4})

In [35]:
a

{2, 3, 4}

In [36]:
type(a)

set

In [37]:
nums = (2,3,4,5)

In [38]:
multiply(*nums)

120

### Keyword arguments

In [39]:
def multiply2(x=1,y=2):
    print (str(x)+' : '+str(y))

In [40]:
multiply2()

1 : 2

In [41]:
multiply2(4,5)

4 : 5

In [42]:
def multiply_kwargs(**kwargs):
    result = 1
    for key , value in kwargs.items():
        print(key + ' : ' + str(value))
        result = result*value
    return result

In [43]:
multiply_kwargs(num1=1,num2=2,num3=3)

num1 : 1
num2 : 2
num3 : 3

6

In [2]:
from __future__ import division

In [17]:
def mod_divmod(a,b):

    div_ab = a//b
    mod_ab = a%b
    results = (div_ab, mod_ab)

    print(div_ab)
    print(mod_ab)
    print(results)

In [21]:
if __name__ == '__main__':
    input1 = int(input())
    input2 = int(input())
    
    mod_divmod(input1,input2)

 5
 2

2
1
(2, 1)

In [41]:
2000%400

0

In [55]:
def is_leap(year):
    
    # Write your logic here
    if year%400==0:
        leap = True
    elif (year%400!=0 and year%100==0):
        leap = False
    elif (year%400!=0 and year%100!=0 and year%4==0):
        leap = True
    else:
        leap = False
    return leap

In [56]:
is_leap(2000)

True

In [46]:
2000%400

0

In [57]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())

 1
 2

In [59]:
[[i,j] for i in range(0,x+1) for j in range(0,y+1)]

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2]]

In [2]:
y = np.array([[4,5,6],[11,12,13]])

In [4]:
np.flip(y)

array([[13, 12, 11],
       [ 6,  5,  4]])

In [6]:
np.transpose(y)

array([[ 4, 11],
       [ 5, 12],
       [ 6, 13]])

In [37]:
df_dict = {'id':['a','b'],'P':[5,3],'Q':[20,15]}

In [38]:
df = pd.DataFrame(df_dict)

In [41]:
df = df.set_index('id')

In [42]:
df

    P   Q
id
a   5  20
b   3  15

In [26]:
df.columns

Index(['P', 'Q'], dtype='object')

In [43]:
for indx, row in df.iterrows():
    print(indx + ': '+str(row['P']))

a: 5
b: 3

In [44]:
df.iterrows()

In [45]:
for row in df.iterrows():
    print(row)

('a', P     5
Q    20
Name: a, dtype: int64)
('b', P     3
Q    15
Name: b, dtype: int64)

In [51]:
rotation_period = {'earth':1.0,'jupiter':0.415,'saturn':44}

In [52]:
rotation_period['saturn']=0.445

In [55]:
rotation_period

{'earth': 1.0, 'saturn': 0.445}

In [54]:
del (rotation_period['jupiter'])

In [56]:
temp = 40

In [57]:
def convert_temp(x):
    global temp
    temp = (x*1.8)+32

In [60]:
temp

104.0

In [59]:
convert_temp(temp)

In [63]:
common_chars = lambda s1, s2: set(s1).intersection(set(s2))
print(common_chars('pasta', 'pizza'))

{'p', 'a'}

In [64]:
set('pasta')

{'a', 'p', 's', 't'}

In [54]:
def odds_evens(input_string):
    even_letters = []
    odd_letters = []
    for indx, text in enumerate(input_string):
        if indx%2==0:
            even_letters.append(text)
        else:
            odd_letters.append(text)
    evens = ''.join(even_letters)
    odds = ''.join(odd_letters)
    print (evens +' '+odds)

In [55]:
odds_evens('shutup')

suu htp

In [53]:
if __name__=='__main__':
    input_T = int(input())

    if input_T in range(1,11):
        for i in range(input_T):
            input_string = str(input())
            odds_evens(input_string)

 2
 you

yu o

 sad

sd a

In [63]:
grades = [2, 3 ,6 ,6 ,5]

In [64]:
sorted_grades = sorted(grades, reverse=True)

In [65]:
sorted_grades

[6, 6, 5, 3, 2]

In [70]:
set_grades = set(sorted_grades)

In [73]:
sorted_grades_list = sorted(list(set_grades),reverse=True)

In [74]:
sorted_grades_list

[6, 5, 3, 2]

In [77]:
def get_runner_up(numbers):
    #Tgis step is to get rid of duplicates
    set_grades = set(numbers)
    #Now we store as list and sort it
    list_sorted_grades = sorted(list(set_grades),reverse=True)
    runner_up = list_sorted_grades[1]
    print(runner_up)

In [78]:
get_runner_up(grades)

5

###  <font color=#20D376> Hacker rank 30 days of code: Day 7  </font>

In [52]:
array_list = [1,4,3,2]

In [45]:
array_list[::-1]

[2, 3, 4, 1]

In [26]:
array_list_rev = array_list[::-1]

array([2, 3, 4, 1])

In [21]:
##Printing an int list in a single line python3
for i in np_array_list_rev:
    print(i, end=" ")

2 3 4 1

In [33]:
prints = [print(i, end=" ") for i in np_array_list_rev]

2 3 4 1

In [55]:
def reverse_list(l):
    r_l = reversed(l)
    for i in r_l:
        print(i, end=' ')

In [56]:
reverse_list(array_list)

2 3 4 1

In [57]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [58]:
students

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41],
 ['Harsh', 39]]

In [63]:
students[1]

['Berry', 37.21]

In [65]:
students[1][1]

37.21

In [87]:
def get_low_graders(l):
    list_grades = []
    low_graders = []
    for i in range(len(l)):
        list_grades.append(l[i][1])
    set_grades = set(list_grades)   
    unique_list_grades = list(set_grades)
    unique_l_sorted_ist_grades = sorted(unique_list_grades,reverse=False)
    second_min = min(unique_l_sorted_ist_grades[1:len(unique_l_sorted_ist_grades)])
    for i in range(len(l)):
        if l[i][1]== second_min:
            low_graders.append(l[i][0])
    low_graders = sorted(low_graders)
    for person in low_graders:
        print(person)

In [86]:
get_low_graders(students)

Berry
Harry

In [90]:
students_list = []
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students_list.append([name,score])

    get_low_graders(students_list)

 4
 mike
 10
 lisa
 7
 sarah
 8
 andrew
 8

andrew
sarah

In [2]:
def add_numbers(x,y,z):
    a = x + y + z
    return a

In [3]:
add_numbers(2,3,4)

9

###  <font color=#20D376> Hacker rank 30 days of code: Day 8: Dictionaries and Maps </font>

In [57]:
phone_book = {}
phone_book_list =[]
given_names = []

if __name__ == '__main__':
    n = int(input())
    for contacts in range(n):
        name_and_number = input()
        phone_book_list.append(name_and_number.split())
    
    for item in phone_book_list:
        if len(item)==2:
            phone_book[item[0]]=item[1]
        else:
            phone_book[item[0]]=''
            
    for n in range(n):
        given_name = input()
        given_names.append(given_name)

    for names in given_names:
        if names in phone_book.keys():
            print(names + '=' + str(phone_book[names]))
        else:
            print('Not found')

 2
 Nazanin 12345
 Sarah
 Nazanin
 Gooz

Nazanin=12345
Not found

In [54]:
phone_book

{'Nazanin': '8155172222'}

In [55]:
phone_book_list

[['Nazanin', '8155172222'], ['Sarah']]

In [19]:
for key, value in phone_book.items():
    print(key)

Nazanin
Sarah